$Pink: hsl(322, 100%, 66%);
$VeryPaleCyan: hsl(193, 100%, 96%);
$VeryDarkCyan: hsl(192, 100%, 9%);
$GrayishBlue: hsl(208, 11%, 55%);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Open+Sans:wght@400;700&family=Poppins:wght@600&family=Red+Hat+Display:wght@500;700;900&family=Ubuntu&display=swap');

body{
        max-width: 1440px;
        font-size: 18px;
        
        .top-container {
            max-width: 1440px;
            background-image: url(/images/bg-hero-desktop.svg);
            display: grid;
            grid-template-columns: 600px 700px;
            height: 700px;
            background-color: $VeryPaleCyan;
        
            .first-message {
                margin: auto;
                padding: 0 100px 0 50px;
                width: 550px;
                color: $VeryDarkCyan;
                font-family: "open sans";
                margin-left: 30px;
        
                img {
                    position: absolute;
                    top: 10%;
                    height: 30px;
                }
        
                h1 {
                    font-size: 2.5rem;
                    font-family: 'poppins';
                    margin-top: 100px;
        
                }
        
                p {
                    padding-bottom: 20px;
                    line-height: 1.5rem;
                    width: 520px;
        
                }
        
                button {
                    background-color: $Pink;
                    border-radius: 20px;
                    height: 45px;
                    width: 250px;
                    border: none;
        
                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 13px;
        
                    }
        
                }
        
        
            }
        
            .right-side {
        
        
        
                .top-right-button {
                    position: absolute;
                    right: 5%;
                    margin-top: 50px;
        
                    .button {
                        background-color: #fff;
                        width: 170px;
                        border-radius: 20px;
                        height: 40px;
                        border: none;
                        box-shadow: 0 2px 5px grey;
        
                        a {
                            text-decoration: none;
                            font-size: 12px;
                            color: $VeryDarkCyan;
                            text-align: center;
                            font-weight: 900;
        
                        }
        
                    }
        
                }
        
                img {
                    width: 550px;
                    margin: 165px 100px 0 100px;
                    position: relative;
                    float: right;
                    height: 480px;
                }
        
            }
        
        
        
        
        
        }
        
        .middle-container {
            height: 1400px;
            display: grid;
            // background-color: ;
            grid-template-rows: 250px 250px 250px;
            // grid-row-gap: 200px;
            
            align-content: space-evenly;
            background-color: #fff;
            color: $VeryDarkCyan;
            font-family: "open sans";
            
        
            .growing {
                width: 90%;
                height: 380px;
                justify-self: center;
                // border: 5px solid;
                border-radius: 10px;
                box-shadow: 0px 0px 5px lightgrey;
                
                display: grid;
                grid-template-columns: 50% 50%;
                
            
                
        
                img {
                    
                    width: 300px;
                    height: 300px;
                    float: right;
                    margin: 40px;
                }
        
                .growing-writing {
                    width: 450px;
                    margin: 0 0 0 100px;
                    align-self: center;
        
        
                }
            }
        
            .flowing {
                width: 90%;
                height: 380px;
                justify-self: center;
                // border: 5px solid;
                border-radius: 10px;
                box-shadow: 0 0 8px lightgray;
                display: grid;
                grid-template-columns: 50% 50%;
        
                .img-flowing {
                    
                    width: 300px;
                    height: 300px;
                    float: left;
                    margin: 40px;
                    order: 1;
                }
        
        
        
                .flowing-writing {
                    width: 450px;
                    margin-left: 50px;
                    
                    align-self: center;
                    
                    order: 2;
        
        
                }
        
            }
        
            .users {
                width: 90%;
                height: 380px;
                justify-self: center;
                // border: 5px solid;
                border-radius: 10px;
                box-shadow: 0 0 8px lightgray;
                display: grid;
                grid-template-columns: 50% 50%;
        
                .img-users {
                    
                    width: 300px;
                    height: 300px;
                    float: right;
                    margin: 40px;
                }
        
                .users-writing {
                    width: 450px;
                    margin: 0 0 0 100px;
                    align-self: center;
        
        
                }
            }
        }

        .floating-section{
            margin: auto;
            text-align: center;
            width: 650px;
            height: 230px;
            border-radius: 10px;
            color: $VeryDarkCyan;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: "open sans";
            box-shadow: 0 0 8px lightgray;
            border-color: white;

            .h2{
                width:500px;
                font-family: 'poppins' ;
                font-weight: 600;
            }

            .bottom-button{
                width: 340px;
                height: 70px;
                border-radius: 40px;
                background-color: $Pink;
                border:none;
                border-color: #fff;
                box-shadow: 0 0 5px;



                a{
                    text-decoration: none;
                    color: white;
                    font-size: 18px;
                    // font-weight: 700;
                }
            }
        }
    }

